@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td>
    <div class="btn-group">
        <a class="btn btn-success btn-sm" href="@Url.Action("Edit/" + Model)"><span class="far fa-edit"></span></a>
        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete/" + Model)"><span class="far fa-trash-alt"></span></a>
    </div>
</td>